---
import AboutHeroImage from './.logo/logo_zi_transparent copy - 副本.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我们 | OUCS"
	description="关于我们"
	pubDate={new Date('2023-10-01')}
	heroImage={AboutHeroImage}
>
	<p>
		初春的牛津总是蕴藏着无限的生机，而OUCS也迎来了属于它的全新篇章！在3月8日顺利举办的换届选举中，一群满怀热情、才华横溢的同学们成功集结，正式成为第十七届OUCS Committee！
	</p>

	<p>
		薪火相传，初心不忘。在接下来的日子里，我们将接过这份充满欢乐的接力棒，全心全意为大家服务，努力让这个牛津最温暖的华人社群继续闪闪发光！岁月如梭，今年OUCS已经17岁啦！在新鲜出炉的第十七届Committee与大家正式say hi之前，依照传统——让我们掌声有请17岁的OUCS，再来做一次隆重的自我介绍吧～
	</p>

	<p>
		⽜津⼤学中国学⽣会OUCS (Oxford University Chinese Society) 是⼀个由⽜津中国本科⽣创办运营，为全体⽜津华⼈学⽣群体及社团提供⽀持的学⽣会组织。或许，⽐起学⽣会，我们更愿意打造⼀个给所有⽜津华⼈学⼦以归属感的家～尤其是在这个内卷的时代，OUCS更希望成为大家在牛津停靠嬉闹的港湾～
		
		OUCS不但每年举办新⽣营(OCamp)，唱响津城(SingComp)和新春市集(New Year Bazaar)等年度活动，⽽且我们为每⼀位在⽜津学习⽣活的⼩伙伴都量身定制了各类兴趣社团——如：话剧社，舞社，易善，商谈队和辩论队等等。
		OUCS ⼀直期待身怀绝技的你来加⼊！！！	
	</p>
</Layout>
